@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}
section {
background: rgb(85,180,58);
background: linear-gradient(0deg, rgba(85,180,58,1) 41%, rgba(253,29,29,1) 50%, rgba(255,255,255,1) 59%);
}
img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px 0.1rem rgba(0, 0, 0, 0.1);
}

iframe {
    max-width: 100%;
}

html,body {
    margin: 0;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}


@media only screen and (max-width: 970px) {
    .content .row {
        padding: 25px;
        border-radius: 5px;
        display: grid;
        grid-template-columns: 1fr;
    }
    .hero .centre h1 {
        font-size: 5rem;
    }
}

@media only screen and (max-width: 700px) {
    .hero .centre h1 {
        font-size: 4rem;
    }
    .footer {
        background-color: #0065BE;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 450px) {
    .hero .centre h1 {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 320px) {
    .hero .centre h1 {
        font-size: 2.5rem;
    }
}
